.desc{
    width:80%;
    background-color: rgb(30, 30, 30);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.desc-left{
    flex: 1;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    border: 2px solid white;
    width: 90%;
    height: 90%;
}

.img.loaded {
    transition: opacity 0.5s;
}


.img.loading {
    width: 50px; 
    height: 50px;
    border: 4px solid #ccc;
    border-top: 4px solid #86c1ec;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.desc-right{
    flex: 1.3;
    padding: 60px;
}

.name{
    font-size: 3.5em;
    font-weight: bolder;
    padding: 10px;
}

.description{
    font-size: 1.5em;
    padding: 10px;
}

/* width is less then 940 px */


@media (width <= 940px) {
    .desc{
        width: 100%;
        height: 60%;
    }

    .name{
        font-size: 3em;
    }
    
    .description{
        font-size: 1.2em;
    }

    .desc-right{
        flex: 1;
        padding: 20px;
    }
}

@media (width <= 540px) {
    .desc{
        width:90%;
        height: 90%;
        flex-direction: column;
    }

    .desc-left{
        height: 40%;
    }

    .img{
        width: 100%;
    }
} 