.navbar{
    font-size: 50px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(68, 66, 66);
    color: azure;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.navbar:hover{
    box-shadow: 0 0 15px black;
}

@media (width <= 720px) {
    .navbar{
        margin: 5px;
        font-size: 30px;
    }
}